<div class="question">
  <div class="question_index_title"><%= @question.title %></div>
  <div class="question_index_question"><%= @question.question %></div>
  <% if @question.user_id == current_user.id || current_user.admin? %>
    <div class="question_index_delete"><%= link_to "削　　除", question_path(@question.id), method: :delete %></div>
  <% end %>
</div>

<div class="comment_all">
  <% if current_user.admin? %>
    <div id="open">
      <p>Answerを書く</p>
    </div>
    <section id ="modal" class="hidden">
      <%= form_with model: [ @question, @answer] do |form| %>
      <div class="comment_create">
        <p><label>コメントを入力してください <%= form.text_area :answer, size:"80x10" %></label></p>
        <%= form.submit "送信" %>
      </div>
      <% end %>
      <div id="close">close</div>
    </section>
    <div id="mask" class="hidden"></div>
  <% end %>

    <% if @answers %>
      <% @answers.each do |c| %>
        <div class="question_answer"><%= c.answer %></div>
      <% end %>
    <% end %>
</div>
 <%= javascript_pack_tag 'diary/application' %>