<div class="task_modal task_content" id="task_all">
  <%# <ul class="task_list">
    <li class="task_list_item">やる予定</li>
    <li class="task_list_item">これからやる予定</li>
    <li class="task_list_item">終わったこと</li>
  </ul> %>

  <div class="task_card" >
   
      <% if @cards != nil %>
        <% @cards.each do |t| %>
          <div class="card_list">
            <%= t.date %>
            <%= t.card %>
            <%= link_to "削除", task_path(t.id), method: :delete %>
          </div>
        <% end %>
      <% end %>
    <div class="card_add">
      <p>作業内容を追加</p>
        <%= form_with model: @task, url: {controller: 'tasks', action: 'create'} do |form| %>
          <div>
            <p><label>期限<br> <%= form.date_select :date %></label></p>
            <%= form.text_area :card, size:"25x5", placeholder: "作業内容" %><br>
            <%= form.submit "作業登録" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
