<div class="task_list">
  <p>やる予定</p>
  <p>これからやる予定</p>
  <p>終わったこと</p>
</div>

<div class="task_card">
  <% @cards.each do |t| %>
    <%= t.date %>
    <%= t.card %>
    <%= link_to "削除", task_path(t.id), method: :delete %>
  <% end %>
  <p>作業内容を追加</p>
    <%= form_with model: @tasks do |form| %>
      <div>
        <p><label>期限 <%= form.date_select :date %></label></p>
        <%= form.text_field :card, placeholder: "作業内容" %>
        <%= form.submit %>
      </div>
    <% end %>
</div>

