 <div class="diary_list">
    <div class="diary_item">
      <%= link_to user_path(d.user_id), method: :get do %>    
        <% if d.user.icon? %>
          <%= image_tag d.user.icon.url, class: "icon diary_icon" %>
        <% end %>
      <% end %>
      
     
        <div class="diary_veg"><%= d.vegtable %></div>
        <div class="diary_action"><%= d.action %></div>
        <div class="diary_date"><%= d.date %></div>
    </div>
      <div class="diary_avatar">
        <%= link_to diary_path(d.id), method: :get do %>
          <% if d.avatar?  %>
            <div class="avatar_avatar"><%= image_tag d.avatar.url  %></div>
          <% else %>
            <div class="avatar_avatar"><%= image_tag 'no_image_logo.png' %></div>
          <% end %>
        <% end %>
        <ul class="diary_next_action">
          <li class="diary_show"><%= link_to "è©³ã€€ç´°", diary_path(d.id), method: :get %></li>
          <% if user_signed_in? %>
            <% if current_user.id == d.user_id || current_user.admin? %>
              <li class="diary_update"><%= link_to "æ›´ã€€æ–°", edit_diary_path(d.id),method: :get %></li>
              <li class="diary_destroy"><%= link_to "å‰Šã€€é™¤", diary_path(d.id), method: :delete %></li>
            <% end %>
            <% if current_user.liked_by?(d.id) %>
              <td><%= link_to "ðŸ–¤", destroy_like_path(d), method: :DELETE %> <%= d.likes.count %></td>
            <% else %>
              <td><%= link_to "â¤ï¸", create_like_path(d), method: :POST %> <%= d.likes.count %></td>
            <% end %>
          <% end %>
        </ul>
      </div>
</div>
 