 <div class="diary_list">
    <div class="diary_item">
      <%= link_to user_path(d.user_id), method: :get do %>    
        <% if d.user.icon? %>
          <%= image_tag d.user.icon.url, class: "icon diary_icon" %>
        <% end %>
      <% end %>
      
     
        <div class="diary_veg"><%= d.vegtable %></div>
        <div class="diary_action"><%= d.action %></div>
        <div class="diary_date"><%= d.date %></div>
    </div>
      <div class="diary_avatar">
        <%= link_to diary_path(d.id), method: :get do %>
          <% if d.avatar?  %>
            <div class="avatar_avatar"><%= image_tag d.avatar.url  %></div>
          <% else %>
            <div class="avatar_avatar"><%= image_tag 'no_image_logo.png' %></div>
          <% end %>
        <% end %>
        <ul class="diary_next_action">
          <li class="diary_show"><%= link_to "詳　細", diary_path(d.id), method: :get %></li>
          <% if user_signed_in? %>
            <li class="diary_destroy"><%= render 'bookmarks/bookmark_area', diary: d %></li>
            <% if current_user.id == d.user_id || current_user.admin? %>
              <li class="diary_update"><%= link_to "更　新", edit_diary_path(d.id),method: :get %></li>
              <li class="diary_destroy"><%= link_to "削　除", diary_path(d.id), method: :delete %></li>
            <% end %>
            <% if current_user.liked_by?(d.id) %>
              <td><%= link_to destroy_like_path(d), method: :DELETE, remote: true do %> <%= d.likes.count %>
                    <i class="fas fa-heart like"></i>
                  <% end %>
              </td>
            <% else %>
              <td><%= link_to create_like_path(d), method: :POST, remote: true do %> <%= d.likes.count %>
                    <i class="far fa-heart"></i>
                  <% end %>
              </td>
            <% end %>
          <% end %>
        </ul>
      </div>
</div>
 