<div class="index_content">
  <div class="atunou_index"><%= link_to "ç†Ÿç·´è¾²å®¶ã®æŠ•ç¨¿", atunou_path, method: :get %></div>
  <div class="question_index"><%= link_to "è³ªå•ä¸€è¦§", questions_path, method: :get %></div>
</div>
  <div class= "search">
    <%= form_with(scope: :search, url: diaries_path, method: :get, local: true) do |f| %>
        <%= f.text_field :vegtable, value: @search_params[:vegtable],placeholder:"ðŸ”é‡Žèœã‚’å…¥åŠ›" %>
        <%= f.submit "æ¤œç´¢" %>
    <% end %>
  </div>

<div id="new_open">
  <div class="new_question">
    <%= link_to "è³ªå•ã—ã¦ã¿ã‚‹",  new_question_path,method: :get %>
  </div>
  <div class="new_diary">
    <%= link_to "æŠ•ç¨¿ã™ã‚‹", new_diary_path,method: :get %>
  </div>
</div>




  <tr id="diary_<%= @diaries.ids %>">
    <%= render partial: 'diaries', collection: @diaries, as: "d"  %>
  </tr>

 <%= paginate(@diaries) %>
