<%= render partial: "atunou" %>
<%= render partial: "search" %>
<% if user_signed_in? %>
<div id="new_open">
  <p>
    <%= link_to "投稿する", new_diary_path,method: :get %>
  </p>
</div>
<% end %>


<% @diaries.each do |d| %>
  <tr id="diary_<%= d.id %>">
    <%= render partial: "/diaries/diaries", locals: { d: d }  %>
  </tr>
<% end %>
 <%= paginate(@diaries) %>
