<%= render partial: "atunou" %>
<%= render partial: "search" %>
<% if user_signed_in? %>
<div id="new_open">
  <p>投稿する</p>
</div>
<%= render partial:"new" %>
<% end %>
<%= javascript_pack_tag 'new/application' %>


<% @diaries.each do |d| %>
  <%= render partial:"diaries", locals:{ d: d } %>
<% end %>
 <%= paginate(@diaries) %>
