<div class="index_content">
  <%= render partial: "atunou" %>
  <%= render partial: "/questions/questions" %>
</div>
  <%= render partial: "search" %>

<div id="new_open">
  <div class="new_question">
    <%= link_to "質問してみる",  new_question_path,method: :get %>
  </div>
  <div class="new_diary">
    <%= link_to "投稿する", new_diary_path,method: :get %>
  </div>
</div>



<% @diaries.each do |d| %>
  <tr id="diary_<%= d.id %>">
    <%= render partial: "/diaries/diaries", locals: { d: d }  %>
  </tr>
<% end %>
 <%= paginate(@diaries) %>
