<% d = @diary %>
  <%= render partial:"diaries", locals:{ d: d } %>
  <%= d.text %>

  <% if @comments %>
    <% @comments.each do |c| %>
      <%= c.comment %>
    <% end %>
  <% end %>

 <% if user_signed_in? %>
   <div class="comment" id="open">
    <p>コメントを書く</p>
   </div>
   <section id ="modal" class="hidden">
    <%= form_with model: [@diary, @comment] do |form| %>
     <div class="comment_create">
       <p><label>コメントを入力してください <%= form.text_field :comment %></label></p>
       <%= form.submit %>
     </div>
    <% end %>
    <div id="close">close</div>
   </section>
   <div id="mask" class="hidden"></div>
 <% end %>
 <%= javascript_pack_tag 'diary/application' %>

