<section id="user_show_modal" class="hidden">
  <%= form_with model: @user do |form| %>
    <div class="diaries_create">  
      <p><label>名前<br> <%= form.text_field :name %></label></p>
      <p><label>アイコン画像<br> <%= form.file_field :icon %></label></p>
      <p><label>自己紹介<br> <%= form.text_area :text, size: "50x5" %></label></p>
      <%= form.submit "更新" %>
    </div>
    <div id="user_show_close">close</div>
  <% end %>
</section>
<div id="user_show_mask" class="hidden"></div>
