<!DOCTYPE html>
<html>
  <head>
    <title>Vegtablelife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="heading">
        <div class="title">
          <h1>菜園生活　〜すろーらいふ始めませんか〜</h1>
        </div>
        <ul class="header_category">
          <% if user_signed_in? %>
          <li class="header_list">
            <%= link_to "マイページ", user_path(current_user.id),method: :get  %>
          </li>
          <li class="header_list">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="header_list">
            <%= link_to "ゲストログイン",users_guest_sign_in_path,method: :post %>
          </li>
          <li class="header_list">
            <%= link_to "ログイン",new_user_session_path,method: :get %>
          </li>
          <li class="header_list">
            <%= link_to "新規登録",new_user_registration_path,method: :get %>
          </li>
          <% end %>
        </ul>
      </div>
    </header>
    <p>git pullの練習</p>
    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="footer_section">
        <div class="footer_comment">
          <p>Copyright©️2021</p>
        </div>
        <ul class="footer_item">
          <li><a href="" class="footer_list">Twitter</a></li>
          <li><a href="" class="footer_list">Qitta</a></li>
        </ul>
      </div> 
    </footer>
  </body>
</html>
